@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==============end mobile navigation bar============*/
@media only screen and (min-width:768px){
  .d-time{
    display:block;
  }
  .m-time{
    display:none;
  }
  /* =======================WORK DIV============================== */
  .work_ul_div ul li{
    width: 45%;
    height: auto;
    display: inline-block;
  }
  .work_img_div{
    width:100%;
    height:200px;
  }
  .work_img{
    height:100%;
    max-height: 200px;
    width:auto;
    max-width: 360px;
    margin: 0;
    padding: 0;
    object-fit: cover;
  }
  .redirectDiv{
    width:60%;
  }
}
