@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  padding:0;
  margin: 0;
  background: #000;
}
.inbox-container{
  background: #5e686a;
  font-family:"Roboto",sans-serif;
  border: 1px solid #2e3132;
}
.inbox-head{
  background: #515759;
  border-bottom: 1px solid #2e3132;
  padding-top: 10px;
  padding-bottom: 10px;
}
.span-notif{
  height:100%;
  font-size: 15px;
}
.d-time{
  display:none;
  font-size: 15px;
  color:#545d60;
}
.m-time{
  font-size: 15px;
  color:#545d60;
}
.message-container{
  background: #ffffff;
  border-bottom:1px solid #b8b8b8;
  padding-top: 10px;
  padding-bottom: 10px;
}
.y-message-container{
  background: #ffffff;
  border-bottom:1px solid #b8b8b8;
  padding-top: 10px;
  padding-bottom: 10px;
}
.message-container:hover{
  cursor: pointer;
  background: #ebebeb;
}
.r-message-container:hover{
  cursor: pointer;
  background: #ebebeb;
}
.message-container h4{
  font-weight: bold;
  color:#4b5254;
}
.r-message-container{
  background: #e6eff1;
  border-bottom:1px solid #b8b8b8;
  padding-top: 10px;
  padding-bottom: 10px;
}
.r-message-container h4{
  color:#4b5254;
}
.z-message-container{
  background: #e6e6e6;
  border-bottom:1px solid #b8b8b8;
  padding-top: 10px;
  padding-bottom: 10px;
}
.z-message-container h4{
  color:#004085;
}
.message-ul{
  padding: 0;
  margin: 0;
}
.message-ul li{
  list-style: none;
}
.message-ul li a{
  text-decoration: none;
  color: #212325;
}
.y_div_msg{
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #e6e6e6;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}
.z_div_msg{
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}
.div_msg{
  padding-top: 10px;
  height:40px;
  overflow: hidden;
}
.div_send{
  padding-top: 30px;
  padding-bottom: 20px;
  height:auto;
  background: #121313;
}
.form-textarea{
  background: #2e3333;
  color:#fefefe;
  width:100%;
  padding: 5px;
}
.col_send{

}
.p_msg{
  font-size: 20px;
  font-weight: bold;

}
.pre_wrap{
  white-space: pre-wrap;
}
.r-p_msg{
  font-size: 20px;
}
.reply_ul li{
  list-style: none;
  padding: 0;
  margin: 0;
}
.reply_ul{
  padding: 0;
  margin: 0;
}
.portfolio-div{
  background: pink;
}
.work-head{
  padding: 30px 0 30px 0;
  background: #3ec6ba;
  color:#fff;
  font-family: arial;
  border-bottom: 1px solid #168a7f;
}
.work-content{
  background: #dbfffc;
}
.all_div{
  margin: 0;
  padding: 0;
}
/* ===========================WORK FORM=============== */
.all_div{
  display: block;
  width:100%;
  min-height: 250px;
  height:auto;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;

  animation: cont_trans;
  animation-duration: 1s;
  color:#216693;
  font-family:"Roboto",sans-serif;
}
.work_img_div{
  width:100%;
  height:250px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-content: center;
}
.work_ul_div ul li{
  list-style: none;
  margin-top: 10px;
  width:100%;
}
.work_ul_div ul{
  margin: 0;
  padding: 0;
}
.work_img{
  height:100%;
  max-height: 250px;
  width:auto;
  max-width: 360px;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
.work_hover{
  width:360px;
  height:250px;
  margin: 0;
  padding: 0;
  background: #f6feff;
  text-align: center;
  float: left;
  margin-top: -100%;
}
.wbg{
  display:none;
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  background: #2f2a2a;
  opacity: 0.7;
  z-index:15;
}

.dlgbox{
  display:none;
  position:fixed;
  width:100%;
  z-index: 20;
  background: #fefefe;
  height:100%;
  font-family: arial;
  top:0;
  padding: 0;
  margin-left: -4%;
}
.pic_frame{
  width:100%;
  height:auto;
  min-height: 10%;
  max-height: 40%;
  top:0;
  padding: 1px 0 1px 0;
  border-bottom:2px solid #292d39;
  overflow: hidden;
}
.descDiv{
  width:100%;
  height:60%;
  background: #fefefe;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.ptd1{
  height:auto;
  width:100%;
  margin: 0;
  padding: 1px 0 1px 0;
  min-height:5%;
  border-bottom: 1px solid #afb8b7;
  text-align: left;
  line-height: 15px;
}
.ptd2{
  height:auto;
  width:94%;
  margin: 0;
  padding: 1px 3% 1px 3%;
  min-height:5%;
  text-align: left;
  line-height: 18px;
}
.ptd3{
  height:auto;
  width:94%;
  margin: 0;
  padding: 1px 3% 1px 3%;
  min-height:5%;
}
.ptd1 h1{
  margin-left: 3%;
  color:#1ca681;
  font-size: 25px;
}
.ptd1 h3{
  margin-left: 3%;
  color: #d4d6d6;
  font-size: 18px;
}
.ptd2 p{
  color:#314155;
  font-size: 15px;
}
.ptd3 a{
  text-decoration: none;
}
.dsite{
  padding: 10px 20px 10px 20px;
  background: #2075ab;
  font-weight: bold;
  color:#fff;
  float:left;
}
.cls2{
  padding: 1px;
  font-weight: bold;
  color:#313833;
  float:right;
}
.dsite:hover{
  background: #fff;
  color: #2075ab;
  cursor:pointer;
}
.pt_images{
  width:100%;
  height:auto;
  padding: 0;
  margin: 0;
  float: left;
}
.divBtn{
  width:90%;
  padding: 15px 5% 15px 5%;
  margin: 0;
  position: fixed;
  margin-top: 30%;
}
.btnLeft, .btnRight{
  background: #000;
  opacity: 0.5;
  margin: 0;
  padding: 5px 10px 5px 10px;
  color:#fff;
  cursor: pointer;
}
.btnLeft{
  float: left;
}
.btnRight{
  float: right;
}
.work_hover h3{
  margin-top: 35px;
}
.see_more_div{
  width:60%;
  height:45px;
  margin: 0;
  padding:0;
  border: 3px solid #135d99;
  font-family:"Roboto",sans-serif;
  margin-left: 20%;
  padding-top: 10px;
  color:#272925;
  cursor: pointer;
}
.see_more_div:hover{
  background: #135d99;
  color:#fff;
}
.dlgBoxAn{
  animation: cont_trans;
  animation-duration: 700ms;
}

.redirectDiv{
  width:90%;
  height:300px;
  margin: 0;
  padding: 0;
}
.redirectDiv h3{
  color:#1faf7b;
  font-family: arial;
  float: left;
}
.redirectDiv input{
  width:98%;
  height:30px;
  font-size: 18px;
  color:#3e3e3e;
  border: 1px solid #cdcdcd;
  padding-left: 2%;
}
.redirectDiv button{
  width:60%;
  height:40px;
  font-size: 18px;
  font-weight: bold;
  background: #1faf7b;
  color:#fefefe;
  border: 1px solid #cdcdcd;
  margin-top: 20px;
  margin-bottom: 20px;
}
.redirectDiv span{
  color:red;
  font-family: arial;
  display:none;
}
